extends layout

block content
  #large-header.large-header
    br
    br
    br
    br
    img(src='/images/logo.png')
    br
    hr
    br
    h1 we solve your problem with technology
  script(src='//code.jquery.com/jquery-1.11.2.min.js')
  script(src='/javascripts/viewport.js')
